body{
    background-image: url("goldBg.jpg");
    background-position: center;
    padding-top: 0.5%;
    text-align: center;
}
.calculator{
    padding-left: 5%;
    text-align: center;
    width: 90%;
}

.inp1{
    color: rgb(255, 228, 75);
    margin-top: 5%;
    padding: 0%;
    margin-bottom: 2%;
    background-color: rgb(30, 30, 30);
    border-color: black;
    border-width: 0.2rem;
    font-size: 2.2rem;
    width:80%;
    border-radius: 12px;
}
.inp1:focus{
    box-shadow: 0px 0px 25px gold;
}
.numbutton{
    color: black;
    border:0px;
    font-size: 2.2rem;
    text-align: center;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:9%;
}
.cancelbutton{
    border-color: rgb(90, 0, 0);
    background-color: crimson;
    border:0px;
    font-size: 2.2rem;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:9%;
}
.cancelbutton:hover{
    border-radius: 0px;
    background-color: red;
}

.opbtn{
    color:black;
    border:0px;
    font-size: 2.2rem;
    text-align: center;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:8%;
}

#btn{
    background-image: url("goldBtn.png");
    background-position: center;
}

#btn:hover{
    background-color: rgba(0,0,0,.15);
    background-blend-mode: multiply;
    color:rgb(255, 246, 196);
    box-shadow: 0px 0px 25px gold;
}