body{
    background-color: rgb(20, 20, 20);
    padding-top: 0.5%;
    text-align: center;
}
.calculator{
    padding-left: 5%;
    text-align: center;
    width: 90%;
}

.inp1{
    margin-top: 5%;
    padding: 0%;
    margin-bottom: 2%;
    background-color: rgb(30, 30, 30);
    border-color: black;
    border-width: 0.2rem;
    font-size: 2.2rem;
    width:80%;
    border-radius: 12px;
}
.inp1:focus{
    box-shadow: 0px 0px 10px rgb(122, 184, 209);
}
.numbutton{
    background-color: rgb(20, 20, 20);
    color:rgb(122, 184, 209);
    border:0px;
    font-size: 2.2rem;
    text-align: center;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:9%;
}
.cancelbutton{
    border-color: rgb(90, 0, 0);
    background-color: crimson;
    border:0px;
    font-size: 2.2rem;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:9%;
}
.cancelbutton:hover{
    border-radius: 0px;
    background-color: red;
}

.opbtn{
    background-color: rgb(20, 20, 20);
    color:rgb(122, 184, 209);
    border:0px;
    font-size: 2.2rem;
    text-align: center;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:8%;
}


#btn:hover{
    background-color: rgb(10, 10, 10);
    color:rgb(164, 215, 236);
    box-shadow: 0px 0px 10px rgb(122, 184, 209);
}