body{
    background-color: rgb(122, 184, 209);
    padding-top: 0.5%;
    text-align: center;
}

select,option{
    font-size: 0.8rem;
    border:0;
    border-radius: 100%;
    background-color: rgb(122, 184, 209);
}
select:hover{
    background-color: rgb(168, 215, 252);
}
tr,td{margin:0}
.calculator{
    margin: 0;
    text-align: center;
    width: 90%;
}

.inp1{
    margin-top: 5%;
    padding: 0%;
    margin-bottom: 2%;
    background-color: rgb(102, 158, 180);
    border-color: black;
    border-width: 0.2rem;
    font-size: 2.2rem;
    width:80%;
    border-radius: 12px;
}
.numbutton{
    background-color: rgb(122, 184, 209);
    border:0px;
    font-size: 2.2rem;
    text-align: center;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:9%;
}
.cancelbutton{
    border: 0px;;
    background-color: crimson;
    font-size: 2.2rem;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:9%;
}
.cancelbutton:hover{
    border-radius: 0px;
    background-color: red;
}

.opbtn{
    background-color: skyblue;
    color: rgb(40, 40, 40);
    border:0px;
    font-size: 2.2rem;
    text-align: center;
    width:7.5%;
    margin: 1%;
    padding-left:3%;
    padding-right:8%;
}


#btn:hover{
    background-color: rgb(168, 215, 252);
    color:rgb(28, 42, 0);
    box-shadow: 0px 0px 10px rgb(16, 16, 16);
}
